{
    "plugins": [
        "prettier-plugin-tailwindcss",
        "@trivago/prettier-plugin-sort-imports"
    ],
    "semi": true,
    "singleQuote": false,
    "tabWidth": 2,
    "trailingComma": "es5",
    "printWidth": 80,
    "importOrder": [
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "^@/(.*)$",
        "^@lib/(.*)$",
        "^@utils/(.*)$",
        "^@stores/(.*)$",
        "^@type/(.*)$",
        "^@hooks/(.*)$",
        "^@api/(.*)$",
        "^lucide-react$",
        "^@assets/(.*)$",
        "^@components/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}